/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,800&display=swap");

/* Universal selector  */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.color {
  color: #ff42a5;
}
.logo-title {
  font-size: 45px;
}
.logo-part {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo {
  height: 40px;
  width: 85px;
}
.nav-container {
  display: flex;
  height: 15vh;
  list-style: none;
  justify-content: space-around;
  box-shadow: -5px -2px 4px 0px rgb(0, 0, 0);
}
.nav-text {
  display: flex;
  align-items: center;
}
.nav-text > li {
  padding-right: 25px;
}
.follow-us {
  display: flex;
  align-items: center;
  background-color: #e7e6e9;
  padding: 15px;
  border-radius: 8px;
}
.follow-us > i {
  padding-left: 10px;
}

/* banner style */
.banner-container {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 80%;
}
.banner-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  background-image: url("/images/Group\ 14.png");
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.goat {
  font-size: 75px;
  font-weight: bolder;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text p {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}
.banner-button {
  padding-top: 30px;
}
.btn-1 {
  background-color: #ff42a5;
  color: white;
  padding: 20px;
  width: 150px;
  font-size: 20px;
  border: 0;
  border-radius: 40px;
  font-weight: 500;
  margin-right: 20px;
}
.btn-2 {
  background-color: #4ec5f7;
  color: white;
  padding: 20px;
  width: 150px;
  font-size: 20px;
  border: 0;
  border-radius: 40px;
  font-weight: 500;
}

/* gamer section */
.gamer-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  gap: 20px;
  align-items: center;
 padding: 50px 0;
}
.gamer-text {
  padding-right: 80px;
  
}
.gamer-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 48px;
  padding-bottom: 30px;
}
.gamer-description{
  width: 530px;
  text-align: right;
  line-height: 32px;
  padding-bottom: 30px;

}
.know{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.purpose  {
 margin-left: 340px;
  font-size: 24px;

}
.unleash{
 font-size: 32px;
}

/* Mobile Responsive */

@media screen and (max-width: 576px) {
  /* nav Section  */
  .nav-container,
  .nav-text {
    flex-direction: column;
    box-shadow: none;
  }
  .nav-container {
    padding-top: 50px;
  }
  .logo-part {
    margin: 50px auto;
    padding-top: 120px;
  }
  .nav-text > li {
    margin-bottom: 20px;
  }
  .follow-us {
    margin-top: 30px;
  }
  /* banner style */
  .banner-container {
    flex-direction: column-reverse;
    margin-top: 600px;
  }
  .img {
    margin-bottom: 200px;
  }
  .banner-text {
    width: 100%;
    padding: 40px 0;
  }
}

/* Tablet responsive */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* nav section */
  .nav-container,
  .nav-text {
    flex-direction: column;
    box-shadow: none;
  }
  .nav-container {
    padding-top: 50px;
  }
  .logo-part {
    margin: 50px auto;
    padding-top: 120px;
  }
  .nav-text > li {
    margin-bottom: 20px;
  }
  .follow-us {
    margin-top: 30px;
  }
  /* banner style */

  .banner-container {
    flex-direction: column-reverse;
    margin-top: 700px;
  }
  .img {
    margin-bottom: 200px;
  }
  .banner-text {
    width: 100%;
    padding: 80px 0;
  }
  .banner-text {
    margin: 50px 0;
  }
}
